.wrapbox {
  overflow-x: hidden;
}

.topad {
  width: 100%;
  min-height: 40px;
  max-height: 60px;
}

.topad a {
  line-height: 40px;
}

.topad a p {
  width: 1029px;
  height: 40px;
  background: url("https://images-cn.ssl-images-amazon.com/images/G/28/bag/GS/Event/2020Summer/XCM_Manual_820_30._CB431691850_.jpg") no-repeat center center;
  margin-left: 168px;
}

header {
  width: 100%;
  height: 39px;
  margin: 0 auto;
}

header .nav {
  margin: 0 auto;
}

header .nav #nav-logo {
  padding-left: 32px;
  width: 120px;
  float: left;
  margin-right: 72px;
}

header .nav #nav-logo .nav-logo-link .nav-sprite {
  display: block;
  width: 86px;
  height: 37px;
  background: url("https://images-cn.ssl-images-amazon.com/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png");
  background-repeat: no-repeat;
  background-position: -10px -120px;
}

header .nav #nav-logo .nav-logo-prime {
  position: absolute;
  top: 85px;
  left: 79px;
  font-size: 11px;
  line-height: 11px;
  font-family: inherit;
  white-space: nowrap;
  color: #48a3c6;
  text-decoration: underline;
  font-weight: 700;
}

header .nav #nav-search {
  width: 762px;
  height: 35px;
  float: left;
  display: flex;
}

header .nav #nav-search .nav-search-left button {
  width: 81px;
  height: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-color: #bdbdbd;
  background: #fdfbfb;
}

header .nav #nav-search .nav-search-left button em {
  font-family: inherit;
  font-size: 12px;
  color: #666;
}

header .nav #nav-search .nav-search-left .btn:hover {
  background: #ebe8e8;
}

header .nav #nav-search .nav-search-left ul {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

header .nav #nav-search .nav-search-center input {
  width: 823px;
  height: 35px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #cdcdcd;
  text-indent: 8px;
  font-size: 18px;
}

header .nav #nav-search .nav-search-right {
  position: relative;
  border: 1px solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

header .nav #nav-search .nav-search-right input {
  width: 41px;
  height: 33px;
  background: #6e6d6d;
  border-color: #485059 #2c3137 #363c43 #485059;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

header .nav #nav-search .nav-search-right span {
  display: block;
  position: absolute;
  left: 12px;
  top: 7px;
  width: 21px;
  height: 21px;
  background: url("https://images-cn.ssl-images-amazon.com/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png");
  background-repeat: no-repeat;
  background-position: -40px -290px;
}

header .nav #nav-ad div {
  background-image: url(https://images-cn.ssl-images-amazon.com/images/G/28/event2020/37039._CB430081241_.jpg);
  width: 370px;
  height: 39px;
  float: right;
  cursor: pointer;
}

#nav-main {
  width: 100%;
  height: 60px;
  background: #e4e0e0;
  margin: 0 auto;
}

#nav-main .nav-main-left {
  height: 55px;
  float: left;
}

#nav-main .nav-main-left #nav-shop {
  padding: 6px 12px 0 15px;
  text-decoration: none;
  margin-top: 2px;
  width: 192px;
  line-height: 37px;
  height: 44px;
}

#nav-main .nav-main-left #nav-shop .nav-line-1 {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  margin-top: 9px;
  padding: 0 12px 0 13px;
  font-family: inherit;
  color: #000;
}

#nav-main .nav-main-left #nav-shop .nav-line-2 {
  display: block;
  font-size: 14px;
  line-height: 0px;
  font-weight: 700;
  padding-bottom: 5px;
  padding: 0 12px 0 13px;
  font-family: inherit;
  color: #000;
}

#nav-main .nav-main-center {
  height: 55px;
  width: 949px;
  float: left;
}

#nav-main .nav-main-center .nav-xshop-container {
  padding-top: 34px;
}

#nav-main .nav-main-center .nav-xshop-container a {
  padding: 0 9px;
  font-family: inherit;
  font-size: 13px;
  color: #05a;
}

#nav-main .nav-main-center .nav-xshop-container a:hover {
  color: #e75b28;
}

#nav-main .nav-main-right {
  float: left;
  height: 55px;
  width: 368px;
}

#nav-main .nav-main-right .nav-tools {
  padding: 6px 7px 0 40px;
}

#nav-main .nav-main-right .nav-tools .nav1-tools {
  padding-left: 9px;
}

#nav-main .nav-main-right .nav-tools .nav1-tools .nav-a-1 {
  display: block;
  margin-top: 9px;
  line-height: 15px;
  float: left;
}

#nav-main .nav-main-right .nav-tools .nav1-tools .nav-a-1 .main-line-1 {
  font-size: 12px;
  color: #000;
  display: block;
}

#nav-main .nav-main-right .nav-tools .nav1-tools .nav-a-1 .main-line-2 {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  display: block;
}

#nav-main .nav-main-right .nav-tools .nav2-tools .nav-a-2 {
  float: left;
  margin-top: 9px;
  line-height: 15px;
  margin: 9px 20px 0 20px;
}

#nav-main .nav-main-right .nav-tools .nav2-tools .nav-a-2 .main-line1-1 {
  font-size: 12px;
  color: #000;
  display: block;
}

#nav-main .nav-main-right .nav-tools .nav2-tools .nav-a-2 .main-line1-2 {
  font-size: 14px;
  color: #000;
  display: block;
  font-weight: 700;
}

#nav-main .nav-main-right .nav-tools .nav3-tools .nav-a-3 {
  float: left;
}

#nav-main .nav-main-right .nav-tools .nav3-tools .nav-a-3 .main-line2-1 {
  display: block;
  width: 38px;
  height: 26px;
  margin-top: 9px;
  background-image: url(https://images-cn.ssl-images-amazon.com/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png);
  background-position: -10px -340px;
  float: left;
}

#nav-main .nav-main-right .nav-tools .nav3-tools .nav-a-3 .main-line2-2 {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  color: #000;
  float: left;
  margin: 19px 0 0 4px;
}

#nav-main .nav-main-right .nav-tools .nav4-tools .nav-a-4 {
  display: inline-block;
  font-family: inherit;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin: 19px 0 0 25px;
}

.bannerwrap {
  width: 100%;
  height: 311px;
  margin: 0 auto;
  background: blueviolet;
}

.bannerwrap .menuwrap .menu {
  position: relative;
  z-index: 3;
  margin-left: 15px;
  float: left;
}

.bannerwrap .menuwrap .menu ul {
  padding: 14px 0 8px 0;
  background-color: #fefefe;
  color: #636363;
  width: 175px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #bbb;
}

.bannerwrap .menuwrap .menu ul li {
  height: 25px;
  line-height: 25px;
  padding: 0 8px 5px 0;
  margin: 0 10px 0 14px;
  background-image: url(data:image/gif;base64,R0lGODlhBwAKAMIEAObm5uvr6/Dw8P39/f///////////////yH5BAEKAAcALAAAAAAHAAoAAAMWSDPUGoE5AaIj1M4qMW+ZFDYD1ClnAgA7);
  background-position: right center;
  background-repeat: no-repeat;
}

.bannerwrap .menuwrap .menu ul li a {
  font-size: 13px;
  color: #333;
  font-family: inherit;
  font-weight: 400;
  line-height: 16px;
}

.bannerwrap .menuwrap .menu ul li span {
  padding: 0 2px;
  font-size: 12px;
}

.bannerwrap .menuwrap .menu ul .lastlist {
  padding: 10px 8px 0 0;
  margin-bottom: 8px;
  background-image: none;
}

.bannerwrap .menuwrap .menu ul .lastlist span {
  font-size: 13px;
  color: #666;
  font-weight: 400;
  font-family: inherit;
  line-height: 16px;
}

.bannerwrap .menuwrap .menu ul .nav-divider {
  margin: 5px 11px 0 14px;
  line-height: 1px;
  height: 1px;
  background: #eee;
  font-size: 13px;
  display: block;
}

.bannerwrap .menuwrap .menu .menulist {
  position: absolute;
  left: 191px;
  top: 0;
  width: 998px;
  min-height: 468px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
}

.bannerwrap .menuwrap .menu .menulist .item {
  padding: 20px;
  display: none;
}

.bannerwrap .menuwrap .banner {
  float: left;
}

.bannerwrap .menuwrap .banner .lunbo {
  position: relative;
  width: 1325px;
  height: 300px;
}

.bannerwrap .menuwrap .banner .lunbo ul li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.bannerwrap .menuwrap .banner .lunbo ul li img {
  width: 100%;
  height: 300px;
}

.bannerwrap .menuwrap .banner .lunbo ol {
  position: absolute;
  display: flex;
  width: 1325px;
  top: 250px;
}

.bannerwrap .menuwrap .banner .lunbo ol li {
  width: 25%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 7px;
  line-height: 19px;
}

.bannerwrap .menuwrap .banner .lunbo ol li a {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.bannerwrap .menuwrap .banner .lunbo ol li a span {
  display: block;
}

.bannerwrap .menuwrap .banner .lunbo ol li:hover {
  background: orange;
}

.bannerwrap .menuwrap .banner .lunbo .left {
  position: absolute;
  top: 110px;
  display: block;
  width: 60px;
  height: 80px;
  background: url("https://images-cn.ssl-images-amazon.com/images/G/28/gwfloor/static/images/arrow-l._CB485934527_.png");
  background-repeat: no-repeat;
  background-position: center;
}

.bannerwrap .menuwrap .banner .lunbo .right {
  position: absolute;
  top: 110px;
  right: 0;
  display: block;
  width: 60px;
  height: 80px;
  background: url("https://images-cn.ssl-images-amazon.com/images/G/28/gwfloor/static/images/arrow-r._CB485936151_.png");
  background-repeat: no-repeat;
  background-position: center;
}

section {
  position: relative;
}

section .mainwrap {
  width: 1200px;
  background: palegreen;
}

section .mainwrap .mainleft {
  width: 1000px;
  height: 230px;
  background: #fff;
  float: left;
}

section .mainwrap .mainleft .mainleft1 {
  position: relative;
}

section .mainwrap .mainleft .mainleft1 a {
  text-decoration: none;
  display: block;
  float: left;
}

section .mainwrap .mainleft .mainleft1 a .mainleft1-list1 {
  cursor: pointer;
  width: 350px;
}

section .mainwrap .mainleft .mainleft1 a .mainleft1-list1 p {
  margin: 10px 0 0 45px;
}

section .mainwrap .mainleft .mainleft1 a .mainleft1-list1 p span {
  font-family: "Microsoft Yahei";
  font-weight: 700;
  font-size: 18px;
}

section .mainwrap .mainleft .mainleft1 a .mainleft1-list1 p .jr {
  color: #333333;
}

section .mainwrap .mainleft .mainleft1 a .mainleft1-list1 p .zdzb {
  color: #cd4d00;
}

section .mainwrap .mainleft .mainleft1 a .mainleft1-list1 div {
  margin-left: 50px;
}

section .mainwrap .mainleft .mainleft1 a .xian {
  position: relative;
  left: 347px;
  top: -151px;
}

section .mainwrap .mainleft .mainleft1 a .xian img {
  width: 1px;
  height: 155px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 {
  width: 324px;
  height: 162px;
  float: left;
  position: relative;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 p {
  margin: 10px 0 0 25px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 p a {
  cursor: pointer;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 p a span {
  font-family: "Microsoft Yahei";
  font-weight: 700;
  font-size: 18px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 p a .jr {
  color: #333333;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 p a .zdzb {
  color: #cd4d00;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .pricewrap {
  width: 132.6px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .pricewrap .price {
  font-family: "Arial Negreta", "Arial";
  color: #b12704;
  font-weight: 700;
  display: block;
  margin: 40px 0 0 25px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .pricewrap .price .fh {
  font-size: 16px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .pricewrap .price .jq {
  font-size: 23px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .pricewrap .ljck {
  margin: 22px 0 0 25px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .pricewrap .ljck span {
  font-size: 12px;
  color: #767676;
  line-height: 20px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list2 .sx {
  width: 144px;
  height: 134px;
  position: absolute;
  top: 10px;
  right: 30px;
}

section .mainwrap .mainleft .mainleft1 .xian {
  position: relative;
  left: 0px;
  top: 15px;
}

section .mainwrap .mainleft .mainleft1 .xian img {
  width: 1px;
  height: 155px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list3 {
  position: absolute;
  top: 15px;
  right: 43px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list3 p a {
  cursor: pointer;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list3 p a span {
  font-family: "Microsoft Yahei";
  font-weight: 700;
  font-size: 18px;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list3 p a .jr {
  color: #333333;
}

section .mainwrap .mainleft .mainleft1 .mainleft1-list3 p a .zdzb {
  color: #cd4d00;
}

section .mainwrap .mainleft2 {
  float: left;
  margin-left: 25px;
  margin-bottom: 40px;
}

section .mainwrap .mainleft2 .mainleft2-title {
  margin-bottom: 5px;
}

section .mainwrap .mainleft2 .mainleft2-title span {
  font-size: 28px;
  color: #111;
  font-weight: 700;
  margin-right: 10px;
}

section .mainwrap .mainleft2 .mainleft2-title a {
  font-size: 15px;
  color: #0066c0;
  text-decoration: none;
}

section .mainwrap .mainleft2 li {
  padding: 3px;
  float: left;
  position: relative;
}

section .mainwrap .mainleft2 li a {
  text-decoration: none;
}

section .mainwrap .mainleft2 li img {
  display: block;
  width: 228px;
  height: 250px;
  margin-bottom: 15px;
}

section .mainwrap .mainleft2 li span {
  color: #b12704;
  font-size: 17px;
  margin-left: 15px;
}

section .mainwrap .mainleft2 li p {
  width: 200px;
  overflow: hidden;
  color: #111;
  font-size: 17px;
  font-weight: 700;
  margin: 35px 0 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section .mainwrap .mainleft2 li i {
  color: #111;
  margin-left: 15px;
}

section .mainleft3 {
  padding-bottom: 12px;
}

section .mainleft3 .mainleft3-list {
  border: 1px solid #d8d8d8;
  height: 310px;
}

section .mainleft3 .mainleft3-list li {
  padding: 0;
  padding-top: 0;
  padding-left: 3px;
}

section .mainleft3 .mainleft3-list .mainleft3-list1 {
  padding-left: 0;
}

section .mainleft5-list {
  margin-top: 15px;
}

section .mainleft5-list img {
  width: 1150px;
  height: 604px;
}

.mainright-ad {
  width: 310px;
  height: 2280px;
  background: #f6f4f4;
  position: absolute;
  right: 15px;
  top: 0;
  padding: 0 5px 0 5px;
}

.mainright-ad .mainright-ad1 {
  padding-top: 15px;
}

.mainright-ad .adxiandiv {
  width: 264px;
  margin-left: 20px;
}

.mainright-ad .adxiandiv .ad-xian {
  height: 1px;
  background-color: #e2e3e5;
  border: none;
}

.mainright-ad .mainright-ad2 h4 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainright-ad .mainright-ad2 .mainright-ad2-list ul {
  margin-left: 75px;
}

.mainright-ad .mainright-ad2 .mainright-ad2-list ul li {
  margin-bottom: 10px;
}

.mainright-ad .mainright-ad2 .mainright-ad2-list ul li span {
  font-size: 36px;
  color: #ccc;
  margin-right: 10px;
}

.mainright-ad .mainright-ad2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #0066c0;
  font-size: 13px;
  margin-bottom: 10px;
}

.mainright-ad .mainright-ad2 {
  padding-top: 0px;
}

.bottom {
  width: 100%;
}

.bottom img {
  width: 100%;
  height: 300px;
}
