@charset "utf-8";
.registrywrap {
  width: 100%;
  //   height:900px;
  margin: 0 auto;
  //   background: yellow;

  .registry {
    // logo
    .logowrap {
      padding-top: 20px;
      margin: 0 0 20px 700px;
      #nav-logo {
        .nav-logo-link {
          .nav-sprite {
            display: block;
            width: 86px;
            height: 37px;
            background: url("https://images-cn.ssl-images-amazon.com/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png");
            background-repeat: no-repeat;
            background-position: -10px -120px;
          }
        }
      }
    }

    // 注册内容
    .registrylist {
      width: 350px;
      height: 550px;
      border-radius: 4px;
      border: 1px #ddd solid;
      background: #fff;

      margin: 0 0 30px 573px;
      .registryinput {
        padding: 20px 40px 20px 26px;
        // 1
        h1 {
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 28px;
          line-height: 1.2;
          font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
        }

        // 2
        .telinput {
          margin-bottom: 10px;
          .username-wrap {
            margin-bottom: 10px;
          }

          label {
            display: block;
            padding-left: 2px;
            padding-bottom: 2px;
            font-weight: 700;
            font-size: 13px;
            line-height: 19px;
            color: #111;
            font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial,
              sans-serif;
          }

          .user {
            width: 100%;
            margin-right: 0;
            background-color: #fff;
            height: 26px;
            padding: 3px 7px;
            line-height: normal;
            border: 1px solid #a6a6a6;
            border-top-color: #949494;
            border-radius: 4px;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
              0 1px 0 rgba(0, 0, 0, 0.07) inset;
            outline: 0;
            color: #111;
          }

          .checkmesg {
            padding: 10px 0 10px 0;
            i {
              font-size: 13px;
              font-weight: 400;
              color: #111;
            }
          }

          // 3
          .a-section {
            margin-bottom: 22px;
            margin-top: 14px;
            width: 299px;
            .a-button-span12 {
              width: 100%;
              background: #f0c14b;
              border-color: #a88734 #9c7e31 #846a29;
              color: #111;
              border-radius: 3px;
              border-color: #adb1b8 #a2a6ac #8d9096;
              border-style: solid;
              border-width: 1px;
              cursor: pointer;
              display: inline-block;
              padding: 0;
              text-align: center;
              text-decoration: none !important;
              vertical-align: middle;
              .a-button-inner {
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
                background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
                display: block;
                position: relative;
                overflow: hidden;
                height: 29px;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
                border-radius: 2px;
                .btn {
                  position: absolute;
                  background-color: transparent;
                  color: transparent;
                  border: 0;
                  cursor: pointer;
                  height: 100%;
                  width: 100%;
                  left: 0;
                  top: 0;
                  opacity: 0.01;
                  outline: 0;
                  overflow: visible;
                  z-index: 20;
                }

                .a-button-text {
                  color: #111;
                  background-color: transparent;
                  border: 0;
                  display: block;
                  font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial,
                    sans-serif;
                  font-size: 13px;
                  line-height: 29px;
                  margin: 0;
                  outline: 0;
                  padding: 0 10px 0 11px;
                  text-align: center;
                  white-space: nowrap;
                }
              }
            }
          }
        }

        // 6
        .wx {
          width: 299px;
          position: relative;
          .a-button-span12 {
            width: 100%;
            background: #e7e9ec;
            border-radius: 4px;
            border-color: #adb1b8 #a2a6ac #8d9096;
            border-style: solid;
            border-width: 1px;
            cursor: pointer;
            display: inline-block;
            padding: 0;
            text-align: center;
            text-decoration: none !important;
            vertical-align: middle;
            .a-button-inner {
              background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
              display: block;
              position: relative;
              overflow: hidden;
              height: 29px;
              box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
              border-radius: 2px;
              .wechat_button {
                background: -webkit-linear-gradient(top, #13d71f, #63d71f);
                color: #111;
                width: 100%;
                height: 100%;
                display: block;
                font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial,
                  sans-serif;
                font-size: 13px;
                line-height: 29px;
                margin: 0;
                outline: 0;
                padding: 0 10px 0 11px;
                text-align: center;
                white-space: nowrap;
                .a-icon-share-wechat {
                  width: 17px;
                  height: 17px;
                  background: url("https://images-cn.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-c4a765aedd886dc04d89e7e93b6a02c59ecb7013._V2_.png");
                  background-repeat: no-repeat;
                  background-position: -249px -190px;
                  position: absolute;
                  top: 23%;
                  left: 100px;
                }
                .wechat_button_label {
                  color: #fff;
                }
              }
            }
          }
        }

        // 7
        .notice {
          margin: 30px 0;
          span {
            font-size: 12px;
            color: #111;
            float: left;
          }
          a {
            width: 100px;
            height: 10px;
            padding-left: 10px;
            color: #0066c0;
            float: left;
          }
          .icon-arrow {
            width: 10px;
            height: 10px;
            background-image: url("https://images-cn.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-c4a765aedd886dc04d89e7e93b6a02c59ecb7013._V2_.png");
            background-repeat: no-repeat;
            background-position: -346px -86px;
            position: relative;
            top: 5px;
            left: 93px;
          }
        }
      }
    }

    // 5
    .a-divider-break {
      text-align: center;
      position: relative;
      top: 2px;
      padding-top: 1px;
      margin-bottom: 14px;
      line-height: 0;
      width: 299px;
      h5 {
        line-height: 1;
        font-size: 12px;
        color: #767676;
        font-weight: 400;
        z-index: 2;
        position: relative;
        display: inline-block;
        background-color: #fff;
        padding: 0 8px 0 7px;
      }
    }
    .a-divider-break:after {
      content: "";
      width: 100%;
      background-color: transparent;
      display: block;
      height: 1px;
      border-top: 1px solid #e7e7e7;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      z-index: 1;
    }

    .amazon-new {
      width: 350px;
      margin: 25px 0 15px 574px;
    }

    // 分割线
    .a-divider-inner {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.14),
        rgba(0, 0, 0, 0.03) 3px,
        transparent
      );
      height: 44px;
      .foot {
        padding-top: 30px;
        margin-left: 650px;
        .foot1 {
          padding-bottom: 10px;
          a {
            margin-right: 25px;
            color: #0066c0;
          }
        }
        p {
          color: #555;
          margin-left: -35px;
        }
      }
    }
    .a-divider-inner:after {
      display: block;
      width: 100%;
      height: 44px;
      background-color: transparent;
      background: -webkit-linear-gradient(
        to right,
        #fff,
        rgba(255, 255, 255, 0),
        #fff
      );
      background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
      z-index: 1;
      content: "";
    }
  }
}
