.detailwrap {
  width: 100%;
  overflow-x: hidden;
  .detailmainwrap {
    width: 100%;
    height: 800px;
    // 详情页内容导航
    .detailmainnav {
      width: 100%;
      height: 40px;
      background: #212f40;

      .detailmainnav_left {
        ul {
          padding-left: 20px;
          display: flex;

          a {
            text-decoration: none;
          }
          li {
            line-height: 40px;
            display: flex;
            span {
              display: block;
              height: 24px;
              width: 24px;
              background: url("https://images-cn.ssl-images-amazon.com/images/G/28/AGS/subnav/SpriteImage_1x._CB485943680_.png");
              color: #fff;
              margin: 7px 5px 0 0;
            }
            i {
              font-size: 13px;
              color: #fff;
            }
            em {
              border-color: white transparent transparent;
              border-width: 4px 4px 0;
              border-style: solid;
              margin: 19px 0 2px 5px;
            }
            .xian {
              width: 1px;
              height: 16px;
              background-color: #959595;
              font-size: 0;
              margin: 12px;
              line-height: 35px;
            }

            .navlist1 {
              background-position: -1px -34px;
            }
            .navlist2 {
              background-position: -25px -34px;
            }
            .navlist3 {
              background-position: -69px -34px;
            }
            .navlist4 {
              background-position: -157px -34px;
            }
            .navlist5 {
              background-position: -114px -34px;
            }
            .navlist6 {
              background-position: -47px -34px;
            }
            .navlist7 {
              background-position: -91px -34px;
            }
            .navlist8 {
              background-position: -135px -34px;
            }
            .navlist9 {
              background-position: -226px -34px;
            }
            .navlist10 {
              background-position: -180px -34px;
            }
            .navlist11 {
              background-position: -203px -34px;
            }
          }

          .detailmainnav_right {
            display: flex;
            margin-left: 510px;
          }
        }
      }
    }

    // 详情页
    .detailmain {
      position: relative;

      .detailmainpic_wrap {
        float: left;
        margin: 50px 0px 0px 150px;
        // 小图和小放
        #spic {
          width: 400px;
          height: 400px;
          float: left;
          position: relative;
          img {
            width: 400px;
            height: 400px;
          }
          #sf {
            width: 50px;
            height: 50px;
            background: orange;
            opacity: 0.3;
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
          }
        }

        // 大图和大放
        #bf {
          width: 600px;
          height: 600px;
          border: 1px solid #000;
          overflow: hidden;
          position: absolute;
          left: 550px;
          visibility: hidden;
          z-index: 100;
          img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1000px;
            height: 1000px;
          }
        }

        // 列表小图
        #ulist {
          position: absolute;
          left: 0px;
          top: 50px;
          width: 80px;
          height: 500px;
          overflow: hidden;
          overflow-y: scroll;

          #list {
            float: left;
            margin-left: 18px;
            width: 372px;
            position: relative;
            ul {
              list-style: none;
              position: absolute;
              left: 0px;
              top: 0px;
              li {
                width: 56px;
                height: 24px;
                margin-bottom: 15px;
                img {
                  width: 52px;
                  height: 70px;
                  border: 1px solid #ccc;
                }
              }
            }
          }
        }
      }

      //   详情页介绍文字
      .goodsinfo-word {
        overflow: hidden;
        float: left;
        // 1
        .p-name {
          width: 350px;
          height: 50px;
          margin: 50px 0 20px 50px;
          .loadtitle {
            font-size: 19px;
            font-weight: 400;
            color: #111;
          }
        }

        // 2
        .p-share {
          display: flex;
          margin-left: 60px;
          span {
            margin-right: 5px;
          }
          em {
            margin-right: 10px;
          }
          a {
            display: block;
            width: 17px;
            height: 17px;
            margin-right: 5px;
            i {
              display: block;
              background-image: url("https://images-cn.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIIcon-beacon_light_1x-addec3fd9da3908c382725310951d0252d2f72cd._V2_.png");
              background-repeat: no-repeat;
              width: 17px;
              height: 17px;

              margin-top: 2px;
            }
            .p-share1 {
              background-position: -220px -75px;
            }
            .p-share2 {
              background-position: -261px -187px;
            }
            .p-share3 {
              background-position: -262px -130px;
            }
            .p-share4 {
              background-position: -262px -168px;
            }
          }
        }

        hr {
          height: 1px;
          width: 600px;
          border-width: 0;
          border-top: 1px solid #e7e7e7;
          background-color: transparent;
          margin-left: 52px;
        }

        // 3
        .p-price {
          margin: 10px 0 10px 50px;
          font-size: 13px;
          color: #555;
          img {
            display: block;
            margin-left: 40px;
          }
          strong {
            font-size: 17px;
            color: #b12704 !important;
          }
        }

        // 4
        .p-goodsmessage {
          font-size: 13px;
          color: 30px;
          margin-left: 50px;
          span {
            display: block;
            width: 600px;
            white-space: normal;
            margin-bottom: 20px;
          }
          ul {
            margin-left: 12px;
            li {
              list-style: disc;
            }
          }
        }
      }

      // 加入购物车按钮
      .p-btn {
        width: 237px;
        height: 266px;
        margin-top: 50px;
        border: 1px solid #ccc;
        border-radius: 4px;
        float: right;
        margin-right: 30px;
        padding: 15px;
        a{
          text-decoration: none!important;
        }
        label {
          font-size: 15px;
          margin-right: 10px;
          font-weight: normal;
        }
        input {
          display: inline-block;
          width: 40px;
          height: 40px;
          font-size: 20px;
          color: black;
          border: 1px solid gray;
          text-align: center;
        }
        .bn1 {
          position: relative;
          a {
            display: block;
            width: 207px;
            height: 28px;
            background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
            font-size: 13px;
            color: #111;
            text-align: center;
            line-height: 28px;
            margin-top: 20px;
            border: 1px solid rgb(36, 36, 36);
            border-radius: 3px;
            
          }
          span {
            display: block;
            height: 25px;
            width: 25px;
            background: url("https://images-cn.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_1x-e9434610f810a3a99b3f0e49c1b938c9d76628b8._V2_.png");
            background-position: -35px -5px;
            position: absolute;
            top: 1px;
            left: 2px;
          }
        }
        .bn2 {
          margin-bottom: 20px;
          span {
            background-position: -35px -59px;
          }
          a {
            background: #ee9c38;
            border-color: #ca7c1b #be751a #a56616;
          }
        }
      }
    }
  }
}
