.cartwrap {
  width: 100%;
  overflow-x: hidden;
}

.cartwrap .cart .cartmainwrap {
  width: 1500px;
  background: rosybrown;
  display: flex;
}

.cartwrap .cart .cartmainwrap .cartmainleft {
  width: 1500px;
  background: salmon;
  padding-left: 170px;
  padding-top: 20px;
}

.cartwrap .cart .cartmainwrap .cartmainleft h2 {
  font-size: 21px;
  font-weight: 700px;
  width: 1170px;
  height: 40px;
  border-bottom: 2px solid #ccc;
}

.cartwrap .cart .cartmainwrap .cartmainleft h2 a {
  color: #111;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop {
  display: flex;
  margin: 30px 0 30px 0;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-checkbox {
  width: 100px;
  margin-top: -3px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-checkbox input {
  margin-right: 5px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-goods {
  width: 280px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-kong {
  width: 180px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-price {
  width: 160px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-num {
  width: 143px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-sum {
  width: 252px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .carttop .carttop-del {
  width: 30px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap {
  width: 1170px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow {
  padding-top: 20px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul {
  height: 170px;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul li {
  float: left;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow1 input {
  margin: 0 20px 0 30px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow2 {
  display: flex;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow2 span {
  display: block;
  width: 300px;
  margin: 0 69px 0 20px;
  color: #0066c0;
  font-size: 17px;
  font-weight: 700px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow4 {
  margin-right: 85px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow4 strong {
  color: #3c3c3c;
  font-size: 17px;
  font-weight: 700;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow5 {
  width: 75px;
  height: 27px;
  background: #f0f0f0;
  text-align: center;
  border: 1px solid #e5e5e5;
  margin-right: 80px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow5 input {
  width: 41px;
  height: 25px;
  text-align: center;
  border: 1px solid #aaa;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow6 {
  color: #b12704;
  font-size: 17px;
  font-weight: 700;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow7 {
  margin-left: 195px;
}

.cartwrap .cart .cartmainwrap .cartmainleft .cartshowwrap .cartshow ul .cartshow7 a {
  color: #3c3c3c;
  font-size: 12px;
}

.cartwrap .cart .cartfoot {
  width: 1170px;
  height: 50px;
  background: #e5e5e5;
  margin-left: 170px;
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 50px;
  display: flex;
}

.cartwrap .cart .cartfoot .carttop-checkbox input {
  margin-right: 5px;
}

.cartwrap .cart .cartfoot .cartfoot-del {
  margin: 0 30px 0 30px;
}

.cartwrap .cart .cartfoot .cartfoot-share {
  margin: 0 423px 0 30px;
}

.cartwrap .cart .cartfoot .cartfoot-zcount {
  margin: 0 90px 0 58px;
}

.cartwrap .cart .cartfoot .cartfoot-js a {
  text-decoration: none;
  display: block;
  width: 119px;
  height: 50px;
  background: #b0b0b0;
  color: #fff;
  border-left: 1px solid #e7e7e7;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
}
